.container {
  text-align: center;
  line-height: 1;
}

.icon {
  position:absolute;
  top: 200px;
  left: 350px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.4;
  color: grey;
}

.container .thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.container .thick, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.container p{
  width:40%;
  margin: auto;
}

.flex-it {
  margin: auto;
}

.item-1, .item-2, .item-3, .item-4 {
position: relative;
  height: 250px;
  width: 400px;
  padding: 1%;
  border-style: none;
  border-top: solid;
  margin: 1% auto 1% auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.item-1, .item-4 {
  position: absolute;
}

.item-1 {
  border-color: hsl(180, 62%, 55%);
  top: 45%;
  left: 3%;
}

.item-4 {
  border-color: hsl(212, 86%, 64%);
  top: 45%;
  right: 3%;
}

.item-2 {
  border-color: hsl(0, 78%, 62%);
}

.item-3 {
  border-color: hsl(34, 97%, 64%);
}

.container-card {
  display: flex;
  padding: 2%;
  flex-direction: column;
}

@media (max-width:1400px) {
  .item-1, .item-4{
    position: static;
  }
  .icon {
    position: relative;
    top:60px;
    left:330px;
  }
  .container p{
    width:90%;
  }
}
